include blocks/blocks
include blocks/libs/_libs
include vars

block variables

doctype html
html(lang='en').page
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include _head
    title Sandbox
  body.page__body
    block content
    include _scripts