.button {
  $block: &;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;

  &--plus {
    display: inline-block;
    position: relative;
    height: 70px;
    margin: 10px 0;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 40px, #465298 40px, #465298 80px);

    &:hover {
      color: white;
      background: repeating-linear-gradient(45deg, #465298, #465298 40px, #606dbc 40px, #606dbc 80px);
    }

    &::after {
      content: "+";
      color: #fff;
      font-size: 4em;
      position: absolute;
      top: 50%;
      transform: translateY(-57%);
      width: 100%;
      text-align: center;
    }
  }

  &--sm {
    height: 48px;

    &::after {
      font-size: 3em;
    }
  }
}
